:root {
  --blanco: #FFF;
  --negro: #000;
  --background: #ecc29c;  
  --primario: #1e847f;
  --fuentePrincipal: 'Source Sans Pro', sans-serif;
}

html {
  box-sizing: border-box;           
  font-size: 80%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales  */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #1d3557;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--negro);
}

a {
  text-decoration: none;
  color: var(--blanco);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  display: inline;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--negro);
  font-family: var(--fuentePrincipal);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/* BEM */
.header {
  background-color: var(--negro);
}

.header__logo {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: var(--primario);
  padding: 1rem 0;
  margin-top: 2rem;
}

.button {
  display: flex;
  position:relative;
  background-color: var(--primario);
  color: #FFF;
  border: 3px solid var(--primario);
  border-radius: .3rem;
  margin: 10% auto;
}

.footer__texto {
  font-family: var(--fuentePrincipal);
  text-align: center;
  color: var(--blanco);
  font-size: 2.2rem;
}

 .navbar {
  background-color: var(--primario);
  color: var(--blanco);
  justify-content: flex-end;
}

.welcome,
.about,
.projects
   {
  height: 100vh;
  background-color: var(--background);  
}

.welcome__title {  
  margin: 0;
  padding-top: 20rem;
  padding-bottom: 0;
  color: var(--negro);
}

.about__title,
.projects__title,
.about__title {
  margin: 0;
  
}

.projects__tile {
  border-style: solid;
  border-radius: .5rem;
  border-color: var(--primario);
  margin-top: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  /* background-color: var(--primario); */
}

/* About me */

.grid__about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Skills */

.grid__skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 25%;
    margin: 0rem 45rem;
}

/* Proyectos */

.proyecto {
  background-color: var(--secundarioOscuro);
  font-size: 2rem;
}

.proyecto__imagen {
  padding: 1rem;
  width: 100%;
}

.proyecto__titulo {
  font-size: 2.5rem;
}
.proyecto__descripcion {
  font-size: 2rem;
}

.projects__title,
.projects__description,
.projects__tile {
    font-family: var(--fuentePrincipal);
    text-align: center;
    color: var(--blanco);
    display: inline;
}

/* Grid  */

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  align-items: center;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
