:root {
  --blanco: #f1faee;
  --primario: #e63946;
  --secundario: #a8dadc;
  --secundarioOscuro: #457b9d;
  --negro: #1d3557;

  --fuentePrincipal: 'Source Sans Pro', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales  */
body {
  background-color: var(--negro);
  font-size: 1.6rem;
  line-height: 1.5;
  color: #1d3557;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.contenedor {
  min-height: 1080px;
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--blanco);
  font-family: var(--fuentePrincipal);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/* BEM */
.header {
  background-color: var(--negro);
  /* margin: 3rem 0; */
}

.header__logo {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: var(--primario);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__texto {
  font-family: var(--fuentePrincipal);
  text-align: center;
  color: var(--blanco);
  font-size: 2.2rem;
}

.navbar {
  background-color: var(--negro);
  color: #fdfffc;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 3rem 1rem 0;
  gap: 2rem;
}

.navbar__enlace {
  font-family: var(--fuentePrincipal);
  color: var(--blanco);
  font-size: 2rem;
}

.navbar__enlace:hover {
  color: var(--primario);
}

/* Grid  */

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* About me */

.grid__about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* width: 25%;
    margin: 0rem 45rem; */
}

/* Skills */

.grid__skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 25%;
    margin: 0rem 45rem;
}

/* Proyectos */

.proyecto {
  background-color: var(--secundarioOscuro);
  font-size: 2rem;
}

.proyecto__imagen {
  padding: 1rem;
  width: 100%;
}

.proyecto__titulo {
  font-size: 2.5rem;
}
.proyecto__descripcion {
  font-size: 2rem;
}

.proyecto__titulo,
.proyecto__descripcion {
    font-family: var(--fuentePrincipal);
    text-align: center;
    color: var(--blanco)
}

.fondoIndex {
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}