:root {
  --blanco: #f1faee;
  --primario: #e63946;
  --secundario: #a8dadc;
  --secundarioOscuro: #457b9d;
  --negro: #1d3557;

  --fuentePrincipal: "Itim", cursive;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales  */
body {
  background-color: var(--blanco);
  font-size: 1.6rem;
  line-height: 1.5;
  color: #1d3557;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--negro);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--primario);
  font-family: var(--fuentePrincipal);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/* BEM */
.header {
    background-color: var(--negro);
  /* margin: 3rem 0; */
}

.header__logo {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: var(--secundarioOscuro);
  color: #fdfffc;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 3rem 1rem 0;
  gap: 2rem;
}

.navbar__enlace {
  font-family: var(--fuentePrincipal);
  color: var(--blanco);
  font-size: 2rem;
}